---
const { img, icon, body, footer, btn, variant } = Astro.props;

const hasImg = !!img;
const hasIcon = !!icon;
const hasBtn = !!btn;

//VARIANT: "CONCERT" | "BENEFIT" | "TESTIMONIAL" | "DOWNLOAD"
---

<div
  class=`bg-(--bg) hover:bg-(--bg-light) w-71 sm:w-75 ${variant === "BENEFIT" ? "py-8 px-4" : "p-8"} rounded-3xl shadow-sl overflow-hidden transition-all duration-300 hover:-translate-y-2 ${variant === "DOWNLOAD" && "text-center"}`
>
  {
    hasImg && (
      <img
        class={`h-56 aspect-video object-cover shadow-l rounded-3xl ${variant === "TESTIMONIAL" ? "mb-8" : "mb-4"}`}
        src={img}
        alt="Card"
      />
    )
  }
  {
    hasIcon && (
      <div
        class={`flex items-center justify-center w-24 h-24 mx-auto rounded-full shadow-l bg-(--bg-lighter) mb-4`}
      >
        <div class="icon text-(--text) text-4xl">
          <i class={icon} />
        </div>
      </div>
    )
  }
  <div>
    <h4
      class={`text-(--text) ${variant === "BENEFIT" && "text-center"} ${variant === "TESTIMONIAL" ? "mb-8" : "mb-2"}`}
      set:html={body}
    />
    {hasBtn && <div class="mt-10" set:html={btn} />}
    <p class="text-(--text-muted)" set:html={footer} />
  </div>
</div>
